.customOverlay {
  background: rgba(0, 0, 0, 0.85);
}
.customModal {
  background: #2f78ff;
  max-width: 550px;
  max-height: 100%;
}

@keyframes customEnterOverlayAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveOverlayAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes customEnterModalAnimation {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveModalAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.2);
  }
}
.StripeElement {
  padding: 15px;
  -webkit-box-shadow: 0 0 2px 1px #21cdd3;
  -moz-box-shadow: 0 0 2px 1px #21cdd3;
  box-shadow: 0 0 2px 1px #21cdd3;
  border: 1px solid #21cdd3;
}

.CardField-input-wrapper {
  margin-left: 10px;
}
.CardField .CardBrandIcon-container {
  font-size: 20px;
}
.CardField--ltr .CardBrandIcon-container {
  font-size: 20px;
}