   body {
    background: #f3f3f3;
    
}

h1, p, a {
    font-family: 'Carrois Gothic SC', sans-serif;
    display: block;
    text-align: center;
    line-height:.8;
    color: rgb(0, 0, 0);
}
.contenido {
    
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-family: 'Carrois Gothic SC', sans-serif;
    
}
h1 {
    font-size: 4rem;
}
a {
    font-size: 1.4rem;
}
p {
    font-size: 2.2rem;
}

.hashtag {
    font-family: Arial, Helvetica, sans-serif;
}
#botones{
    position: absolute;
}